* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    justify-content: center;
    gap: 100px;
    align-items: center;
}

#rpsGame {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    border: 1vh solid;
    padding: 5vh;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;   
    max-width: 50vw; /* Adjust the maximum width as needed */
    width: 90%;
    height: auto;
    position: relative;
    overflow: auto;
}

@media (max-width: 768px) {
    #rpsGame {
        padding: 10%; /* Adjust padding for smaller screens */
        box-shadow: 0px 0px 0px 0px, 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px;  
    }
}

#btnBox, #cpuMove, #roundResultDisplay {
    display: flex;
    gap: 10px;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
}

#scoreboard{
    display: inline-flex;
    gap: 10px;
    width: fit-content;
    justify-content: center;
    margin: 0 auto;
}

#btnRock, #btnPaper, #btnScissors, #scoreboard, #cpuMove, #roundResultDisplay {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    touch-action: manipulation;
}

#btnRock:active, #btnPaper:active, #btnScissors:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
    background-color: rgba(0, 0, 0, 0.7);
  }

@media (min-width: 768px) {
    #btnRock, #btnPaper, #btnScissors, #scoreboard, #cpuMove  {
      padding: 0.25em 0.75em;
    }
}

#btnRock:hover, #btnPaper:hover, #btnScissors:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
